# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Go
bin/
pkg/
*.exe
*.out
*.mod
*.sum

# C++
*.o
*.a
*.so
*.exe
*.dll
*.dSYM/
*.bin

# Docker
*.log
*.swp
docker-compose.override.yml

# Environment files
.env
*.env

# Logs
logs/

# Dockerfiles and build files
*.dockerfile
*.tar
